link(href="/static/jsLibs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
script(src="/static/jsLibs/jquery/dist/jquery.min.js")
script(src="/static/jsLibs/bootstrap/dist/js/bootstrap.min.js")
